body {
    font-size: 17px;
}

.tableButtons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1px;
       background-color: rgb(236, 236, 236);

        width: 300px;
        height: 300px;
        border-radius: 15px;
 
    }
    
    .tableButtons > div {
        background-color: rgb(249, 249, 249);
        text-align: center;
        padding: 2px 0;
        line-height: 50px;

      }

#window {
    width: 268px;
    border: #04040459 solid 1px;
}

input {
    border: 5px solid white; 
    box-shadow: 
      inset 0 0 10px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    align-items: center;
}

img {
    height: 30px ;
    width: 50px;
}

h1{
    font-size: 10px;
}

.numbers:hover {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}
.operations:hover {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}
.equal:hover {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}
.clear:hover {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}
.backspace:hover {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}

.icon:hover{
    cursor: help;
}
